**/*.png
**/*.svg
.dockerignore
package.json
package-lock.json
lib/
es/
dist/
CNAME
LICENSE
yarn.lock
yarn-error.log
*.sh
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
**/*.yml